examples/example-artnet-out.json
[{"id":"b46dcd22.385488","type":"tab","label":"example-artnet-out","disabled":false,"info":""},{"id":"6c895dfa.efe3ec","type":"Art-Net Out","z":"b46dcd22.385488","name":"Uni 1","artnetsender":"90aa8b50.7db7b","ignoreaddress":false,"x":510,"y":160,"wires":[]},{"id":"5b9e1009.87c66","type":"inject","z":"b46dcd22.385488","name":"99","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"channel\":1,\"value\":99}","payloadType":"json","x":130,"y":160,"wires":[["6c895dfa.efe3ec"]]},{"id":"ea4c3e3e.899e78","type":"inject","z":"b46dcd22.385488","name":"250","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"channel\":1,\"value\":250}","payloadType":"json","x":130,"y":100,"wires":[["6c895dfa.efe3ec"]]},{"id":"84302b52.a98b7","type":"inject","z":"b46dcd22.385488","name":"0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"channel\":1,\"value\":0}","payloadType":"json","x":130,"y":220,"wires":[["6c895dfa.efe3ec"]]},{"id":"b94d0f35.eacfe","type":"inject","z":"b46dcd22.385488","name":"Multi 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"buckets\":[{\"channel\":1,\"value\":210},{\"channel\":2,\"value\":123}]}","payloadType":"json","x":130,"y":280,"wires":[["6c895dfa.efe3ec"]]},{"id":"73f01397.1561c4","type":"comment","z":"b46dcd22.385488","name":"Send some values and a linear transition to channel 1 (and 2)","info":"See the payload of the inject nodes","x":280,"y":40,"wires":[]},{"id":"d15eb3c.1aa2c5","type":"inject","z":"b46dcd22.385488","name":"linear on 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"transition\":\"linear\",\"duration\":1000,\"repeat\":3,\"gap\":3000,\"buckets\":[{\"channel\":1,\"value\":255}],\"start_buckets\":[{\"channel\":1,\"value\":0}]}","payloadType":"json","x":120,"y":340,"wires":[["6c895dfa.efe3ec"]]},{"id":"90aa8b50.7db7b","type":"Art-Net Sender","name":"Universe 1","artnetcontroller":"6579e8e0.ef53d8","address":"255.255.255.255","port":"6454","net":"0","subnet":"0","universe":"0","maxrate":"10","refresh":"100000","savevalues":true},{"id":"6579e8e0.ef53d8","type":"Art-Net Controller","name":"All IPs","bind":"0.0.0.0","port":"6454","sname":"dmxnet","lname":"dmxnet - OpenSource ArtNet Transceiver","oemcode":"0x2908","loglevel":"warn"}]