examples/example-artnet-in.json
[{"id":"5827a19f.a95ed","type":"tab","label":"example-artnet-in","disabled":false,"info":""},{"id":"7c1626bf.b688f","type":"comment","z":"5827a19f.a95ed","name":"Receive ArtNet Data on universe 3 (Net:Sub:Uni  0:0:3)","info":"","x":260,"y":40,"wires":[]},{"id":"fd9c9a04.71e568","type":"Art-Net In","z":"5827a19f.a95ed","name":"Uni 3","artnetcontroller":"6579e8e0.ef53d8","net":0,"subnet":0,"universe":"3","outformat":"buckets","sendonchange":true,"x":110,"y":100,"wires":[["ca2f4983.2baa2"]]},{"id":"ca2f4983.2baa2","type":"debug","z":"5827a19f.a95ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":100,"wires":[]},{"id":"6579e8e0.ef53d8","type":"Art-Net Controller","name":"All IPs","bind":"0.0.0.0","port":"6454","sname":"dmxnet","lname":"dmxnet - OpenSource ArtNet Transceiver","oemcode":"0x2908","loglevel":"warn"}]